openai
langchain
streamlit
requests
spacy
langdetect
streamlit_chat
pypdf
sentence_transformers
langchain[docarray]
python-dotenv
Pillow
transformers
streamlit-extras
tokenizers
replicate
beautifulsoup4
pdfkit
